#nav-bar {
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
	float:left;
}

#nav-bar .header {
    font-size: 200%;
    position: relative;
	transform: translateY(50%);	
    float:left;
    margin-left: 10px;
}